<script type="text/javascript" charset="utf-8">
  var room = "<%= @room %>";
  var channel = pusher.subscribe(room);

  channel.bind('userjoinroom', function(data) {
        if (!("Notification" in window)) {
          alert("This browser does not support desktop notification");
        }
        else if (Notification.permission === "granted") {
          var notification = new Notification(data.newuseralert);
        }
        else if (Notification.permission !== 'denied') {
          Notification.requestPermission(function (permission) {
            if (permission === "granted") {
              var notification = new Notification(data.newuseralert);
            }
          });
        }
      })

</script>


<div class="header row">
  <div class="col s12 center-align">
   <h1> Welcome to the chat</h1>
  </div>
</div>
