  <div class="userbar left col s6">
      <%= react_component 'UserList', {users: @users, room: @room.name}, {prerender: true} %>
  </div>

  <div class="container">
    <div class="row text-center col s8">
      <h2> Hello <%= current_user.email %> </h2>
    </div>
  </div>

