<script type="text/javascript" charset="utf-8">
  var room = "<%= @room.name %>";
  var channel = pusher.subscribe(room);

  channel.bind('userjoinroom', function(data) {
        if (!("Notification" in window)) {
          alert("This browser does not support desktop notification");
        }
        else if (Notification.permission !== 'denied') {
          Notification.requestPermission(function (permission) {
            if (permission === "granted") {
              var notification = new Notification(data.newuseralert);
            }
          });
        }
      });

</script>
  <div class="userbar left col s4">
    <% @users.each do |user| %>
       <div class="col user s4"><%= user.email %></div><br> 
    <% end %>
  </div>

  <div class="container">
    <div class="row text-center col s8">
      <h2> Hello <%= current_user.email %> </h2>
    </div>
  </div>

