<script type="text/javascript" charset="utf-8">


</script>

  <div class="userbar left col s6">
      <%= react_component 'UserList', users: [current_user], room: @room.name %>
  </div>

  <div class="container">
    <div class="row text-center col s8">
      <h2> Hello <%= current_user.email %> </h2>
    </div>
  </div>

