// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userbar{
	margin: 1%;
}

body{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
}
.userbutton{
	// font-size: 4vh;
	width: 15vw;
}
.useravatar{
	height: 9vh;
	width: 9vh;
	
}